{% extends 'base.html' %} 

{% load static %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center align-items-center" style="height: 100%;">
        <div class="col-md-8 text-center">
            <h1>&#128533;</h1>
            <h1>Oops! Something went wrong</h1>
            <p>You might have this error page because you haven't signed in yet, please sign in and try again.</p>
            <a class="btn btn-primary" href="{% url 'account_signup' %}" >Sign Up</a>
        </div>
    </div>
</div>
{% endblock %}
