{% extends "base.html" %}
{% block title %} Persian Foods {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<!-- Form to add recipe -->
<div class="container col-md-8 card mt-5 mb-5">
    <!-- enctype to upload media images to cloudinary -->
    <form method="POST" enctype="multipart/form-data" class="form">
        <h1 class="text-center mt-4 mb-2">Add Your Post</h1>
        {% csrf_token %}
        {{ form.media }}
        {{ form | crispy }}
        <div class="text-center">
            {% if user.is_authenticated %}
            <button type="submit" class="btn btn-primary mt-4 mb-4">Create Post</button>
            {% endif %}
        </div>
    </form>
</div>

{% endblock content %}