{% extends "base.html" %} 
{% load static %} 


{% block content %}

<!-- Hero image and about section -->
<div class="image-background">
    <div class="container h-100 justify-content-center">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <div class="with-shadow">
                    <h1 class="display-welcome">Welcome to Persian Foods</h1>
                    <p class="content-welcome">Here, flavour meets creativity in every bite!!</p>  
                    <p class="content-welcome">"Join us on a journey through the heart of Persian 
                        cuisine! Share your creations, swap cooking secrets, and experience the magic 
                        of saffron, pomegranates, and fragrant herbs. Let’s cook something truly delicious 
                        together!"
                    <p>Would you like a more poetic or modern version? 😊</p>
                        {% if not user.is_authenticated %}Join us now.
                    </p>
                    <a href="{% url 'account_signup' %}" class="btn btn-dark mb-2">Signup Now</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}